@if (gameCode == ''){
        <p>To start a new game, enter your name.</p>
        <p>To join an existing game, enter your name and the four letter game code.</p>
<hr/>

<form>
    <fieldset role="group">
      <input type="text" name="name" placeholder="Enter your name" [(ngModel)]="playerName" />
      <input type="submit" value="Start" (click)="onStartClicked()" [disabled]="isButtonDisabled_Start()" />
    </fieldset>
  </form>
  <form>
    <fieldset role="group">
      <input type="text" name="join" placeholder="Enter a Game Code" [(ngModel)]="gameCodeToJoin" />
      <input type="submit" value="Join" (click)="onJoinClicked()" [disabled]="isButtonDisabled_Join()" />
    </fieldset>
  </form>
}
@else {
    <p>Game Code: {{gameCode}}</p>
    <table>
        @for(row of [].constructor(ROW_COUNT); track $index; let rowIndex = $index){
        <tr>
            @for(col of [].constructor(COL_COUNT); track $index; let colIndex = $index){
            <td (click)="cellClick(rowIndex, colIndex, 1)" id="td{{rowIndex}}-{{colIndex}}"></td>
            }
        </tr>
        }
    </table>
}
