<app-base-game [gameService]="gameService" [infoText]="infoText" [checkForWin]="checkForWinSubject" (onNewGame)="newGame()" (onJoinGame)="joinGame()"></app-base-game>

@if (showGame) {
<table>
  @for(row of [].constructor(ROW_COUNT); track $index; let rowIndex = $index){
  <tr>
    @for(col of [].constructor(COL_COUNT); track $index; let colIndex = $index){
    <td (click)="cellClick(rowIndex, colIndex)" id="td{{rowIndex}}-{{colIndex}}">
      @if (gameBoard[rowIndex][colIndex] == 1) {
      <div class="cell one"></div>
      }
      @else if (gameBoard[rowIndex][colIndex] == 2){
      <div class="cell two"></div>
      }
      @else {
      <div class="cell"></div>
      }
    </td>
    }
  </tr>
  }
</table>
}
