<table>
  <thead>
    <tr>

      <th>
        Game Code
      </th>
      <th>
        Player 1 🟢
      </th>
      <th>
        Player 2 🔵
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{gameState.gameCode}}</td>
      <td [ngClass]="getClass(1)">{{gameState.players[0].playerName}}</td>
      @if(gameState.players.length > 1){
      <td [ngClass]="getClass(2)">{{gameState.players[1].playerName}}</td>
      }
      @else{
      <td>Waiting...</td>
      }
    </tr>
  </tbody>
</table>
