<h1>{{title}}</h1>

@if (showLogin) {
<p>To start a new game, enter your name.</p>
<p>To join an existing game, enter your name and the four letter game code.</p>
<hr />

<form>
  <fieldset role="group">
    <input type="text" name="name" placeholder="Enter your name" [(ngModel)]="playerName" />
    <input type="submit" value="Start" (click)="onStartClicked()" [disabled]="isButtonDisabled_Start()" />
  </fieldset>
</form>
<form>
  <fieldset role="group">
    <input type="text" name="join" placeholder="Enter a Game Code" [(ngModel)]="gameCodeToJoin" />
    <input type="submit" value="Join" (click)="onJoinClicked()" [disabled]="isButtonDisabled_Join()" />
  </fieldset>
</form>
}
@else if (showGameDetails) {
<table>
  <thead>
    <tr>
      <th>
        Game Code
      </th>
      <th>
        Player 1 🟢
      </th>
      <th>
        Player 2 🔵
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{getGameCode()}}</td>
      <td [ngClass]="getClass(1)">{{getPlayers()[0].playerName}}</td>
      @if(getPlayers().length > 1){
      <td [ngClass]="getClass(2)">{{getPlayers()[1].playerName}}</td>
      }
      @else{
      <td>Waiting...</td>
      }
    </tr>
  </tbody>
</table>

}
