.bold {
  font-weight: bold;
}

.currentTurn::before {
  content: '👉 ';
  vertical-align: baseline;
}

input[type=submit] {
  min-width: 50%;
}

#info {
  float: right;
}

  #info:hover {
    text-shadow: 2px 2px 2px black;
  }
