<table>
  <tbody>
    @for(row of [].constructor(WORD_COUNT); track $index; let wordIndex = $index){
    <tr>
      @for(char of [].constructor(CHAR_COUNT); track $index; let charIndex = $index){
      <td>
        <input maxlength="1" autocomplete="off" type="text" 
               [disabled]="isRowDisabled(wordIndex)"
               value="{{gameBoard[wordIndex][charIndex]}}"
               (input)="onInput(wordIndex, charIndex, $event)"
               (keydown)="keyDown(wordIndex, charIndex, $event)"
               (keypress)="keyPress(wordIndex, charIndex, $event)"
               (keyup)="keyUp(wordIndex, charIndex, $event)"
               (focusout)="focusOut(wordIndex, charIndex, $event)"
               id="input{{wordIndex}}-{{charIndex}}"/>
      </td>
      }
    </tr>
    }
  </tbody>
</table>
