<h1 style="display:inline">WordTrain</h1><span style="float: right" (click)="showHelp()">ℹ</span>
<hr />
<table>
  <tr>
    <td>Hints taken:</td>
    <td>{{hintsTakenCount}}</td>
    <td style="text-align:center"><button (click)="showHint()">Hint</button></td>
  </tr>
  <tr>
    <td>Wrong guesses:</td>
    <td>{{incorrectGuessesCount}}</td>
    <td></td>
  </tr>
</table>
<table id="gameBoard">
  <tbody>
    @for(row of [].constructor(WORD_COUNT); track $index; let wordIndex = $index){
    <tr>
      @for(char of [].constructor(CHAR_COUNT); track $index; let charIndex = $index){
      <td class="gameCell">
        <input maxlength="1" autocomplete="off" type="text"
               [disabled]="isRowDisabled(wordIndex)"
               value="{{gameBoard[wordIndex][charIndex]
      }}"
      inputmode="none"
      (keydown)="keyDown(wordIndex, charIndex, $event)"
      (focus)="onFocus($event)"
      id="input{{wordIndex}}-{{charIndex}}"
      attr.data-wordIndex="{{wordIndex}}"
      attr.data-charIndex="{{charIndex}}" />
    </td>
      }
    </tr>
    }
  </tbody>
</table>

@if(isMobile){
<div class="keyboardWrapper">
  <div class="simple-keyboard"></div>
</div>
}

