header {
    background-color: rebeccapurple;
    height: 10%;
    text-align: center;
    padding: 1%;
}

body {
    background-color: mediumpurple;
}

main {
    background-color: mediumpurple;
    height: auto;
    padding: 2rem;
}

/* 
footer {
    height: 3%;
    background-color: rebeccapurple;
} */

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: ghostwhite;
}